header{
  position: absolute;
  left: 0;
  top:0;
  padding:0px;
  margin:0px;
  background-color:grey;
  color:white;
  width:100%;
  height: 90px;
  font-size:1.5rem;
}

body > * {
    display:flex;
    flex-grow: 1;
    font-family:"Avenir";
    margin:13rem;
    text-align:left;
    height: 100%;
}
.contentcontainer {
    min-height:100%;
    display:flex;
    flex-direction: column;
}
.tracks{
  opacity:19%;
display:flex;
flex-grow:1;
}

button {
  display: flex;
 vertical-align: middle;
  background-color:black;
  color:white;
  padding: .5rem;
  border:none;
  border-radius: 4px;
}
  label {
    margin:9rem;
    font-size:2rem;
    color:purple;
    display:block;
}

h2 {
  position:absolute;
  left:0;
  top:0;
  margin:0;
  background-color:grey;
  color:white;
  width:100%;
  font-size: 1.5rem;
}

footer{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color:grey;
  color:white;
  font-size: 1.5rem;
}

/* .contentContainer {
  min-height: 100%;
} */
