header{
  display:block;
  margin:3rem;
  background-color:grey;
  color:white;
  width:100%;
  font-size: 1.5rem
}

body {
  background: url(/images/fadedTrack.jpg);
    align-items: center;
    justify-content: center;
    font-family: "Avenir";
    margin: 1rem;
}

 button {
    background-color:black;
    padding: 1rem;
    border:10;
}
  label{
    font-size: 2rem;
    color:purple;
    display:block;
    z-index:auto;
}
.album1{
  align-items: flex-end;
  width:20%;
  height:19%;
  margin:3rem;
}
.album2{
  background:url(/images/fadedTrack.jpg);
  width:10%;
  height:19%;
  margin:3rem;
}
.album4{
  background: url(/images/fadedTrack.jpg);
  width:20%;
  height:inherit;
  margin:3rem;

}

.railroad{
  opacity:19%;
  display:right;

  margin:10rem;
  height:100%;
}
.choose{
    margin:3rem;
    background-color:black;
    color:white;
    height:10%;
    width:20%;
    font-weight: 700;
}
 .albums{
  z-index:auto;
  margin:15rem;
  width:10%;
  border-style:10rem;
  height:10%;

}
.clear{
  z-index: inherit;
  margin:3rem;
  background-color:black;
  color: white;
  width:19%;
  height: auto;
}
.submit{
  z-index: inherit;
  background-color:black;
  color:white;
  width:19%;
  height: 19%;
}

footer{
  margin:3rem;
  display:block;
  background-color:grey;
  color:white;
  width:100%;
  font-size: 1.5rem
}
